{{#each products}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.state}}</td>
        <td>{{this.reviews}}</td>
        <td>{{this.distributorId.name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.category}}</td>
    </tr>
{{/each}}
